<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.NafisCoachingCenter"
        tools:targetApi="34">
        <activity
            android:name=".FeedBack"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".AppSettingActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".TermsAndConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".DoubtActivity"
            android:exported="false" />
        <activity
            android:name=".HelpAndCare"
            android:exported="false" />
        <activity
            android:name=".Internet.InternetNotAvailableActivity"
            android:exported="false" />
        <activity
            android:name=".coursecclass.CourseOpenActivity"
            android:exported="false" />
        <activity
            android:name=".coursecclass.VideoViewActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".coursecclass.PDFViewerActivity"
            android:exported="false" />


        <activity
            android:name=".coursecclass.ClassMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="organizerclasses.page.link" />
            </intent-filter>
        </activity>



        <activity
            android:name=".Test_home_activity"
            android:exported="false" />
        <activity
            android:name=".Note_home_activity"
            android:exported="false" />
        <activity
            android:name=".Video_Home_Activity"
            android:exported="false" />

        <activity
            android:name=".PYQActivity"
            android:exported="false" />
        <activity
            android:name=".Main_dashboard"
            android:exported="false"
            android:theme="@style/Base.Theme.NafisCoachingCenter" />
        <activity
            android:name=".FrontVIew"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>